<!DOCTYPE html>
<html leng="eng">
    <head>
        <title>
            Aplikasi Upload File
        </title>
    </head>
    <body>
        <div class="container">
            <h1>Masukkan File</h1>
            <form method="POST" action="/upload" enctype="multipart/form-data">
            <div class="form-group">
                <label for="inputFile">Pilih File</label>
                <p></p>
                <input type="file" name="inputFile">
                <p></p>
            </div>
            <button type="submit">Submit</button>
            </form>
        </div>
    </body>
</html>